<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="../images/title-icon-64x64.ico"/>
        <title>{{ page.title }}</title>

        <!-- link to bootstrap stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        {% include analytics.html %}
    </head>


    <body>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        </nav>

        <div class="container">

            {{ content }}

        </div>
        <!-- /.container -->

        <footer>
            <ul>
            <li><a href="mailto:rbosh001@ucr.edu">email</a></li>
            <li><a href="https://github.com/rboshae">github.com/rboshae</a></li>
            </ul>
        </footer>
    </body>
</html>
